100406_服务计算概论/doc/code/第1章  xml概述/05/05.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="persions">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="persion" minOccurs="0" maxOccurs="unbounded">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="name" type="xsd:string"/>
       <xsd:element name="sex" type="xsd:string"/>
       <xsd:element name="birthday" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
